---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://cerimoniefunebrisanpietro.it/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://cerimoniefunebrisanpietro.it/necrologi/</loc>
    <changefreq>daily</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://cerimoniefunebrisanpietro.it/archivio/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.6</priority>
  </url>
  {% for item in collections.necrologi %}
  <url>
    <loc>https://cerimoniefunebrisanpietro.it{{ item.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}
</urlset>
